<form #newGameForm="ngForm" (ngSubmit)="submitNewGame(newGameForm)" class="new-game-form">
  <input type="text" name="gameName" required ngModel placeholder="Game Name (required)"
          class="game-name user-input">
  <div class="filter-categories">
    <section class="section-container">
      <h4 class="form-section-label">Events (select all that apply)</h4>
      <div class="form-section select-events">
        <label class="event" *ngFor="let event of events">
          <input type="checkbox" [name]="'event_'+ event" ngModel>
          <span class="label-text">{{event}}</span>
        </label>
        <label class="event">
          <input class="user-input" type="text" placeholder="Other" name="event_other" ngModel>
        </label>
      </div>
    </section>
    <section class="section-container">
      <h4 class="form-section-label">Space (required)</h4>
      <div class="form-section select-spaces">
        <label class="radio-container" *ngFor="let space of spaces">
          <input type="radio" name="space" [value]="space" required ngModel>
          <span>{{space}}</span>
        </label>
        <label class="radio-container">
          <input type="radio" name="space" value="Both" required ngModel>
          <span>Both</span>
        </label>
      </div>
      <h4 class="form-section-label">Setting (required)</h4>
      <div class="form-section select-settings">
        <label class="radio-container" *ngFor="let setting of settings">
          <input type="radio" name="setting" [value]="setting" required ngModel>
          <span>{{setting}}</span>
        </label>
        <label class="radio-container">
          <input type="radio" name="setting" value="Both" required ngModel>
          <span>Both</span>
        </label>
      </div>
    </section>
  </div>
  <textarea class="user-input" name="gameDescription" required ngModel placeholder="Game Description (required)"></textarea>
  <div class="form-actions">
    <input class="alternate" type="submit" value="Submit" [disabled]="!newGameForm.valid">
    <input class="alternate" type="reset">
  </div>
</form>
