<header id="app-header">
  <a routerLink="">
    <img class="logo" src="assets/images/gsm_logo.png" alt="Glenwood Student Ministries Logo">
    <h1>Game Center!</h1>
  </a>
</header>

<main id="page-content">
  <router-outlet></router-outlet>
</main>

<footer id="app-footer">
  <div class="links">
    <a href="https://glenwoodcc.org/mission/local/middle-school">GCC Middle School Ministry</a>
    <a href="https://glenwoodcc.org/mission/local/high-school-ministry">GCC High School Ministry</a>
    <a routerLink="/contribute">Contribute to Game Center</a>
  </div>
  <div class="timestamp">Last Updated: <time datetime="2018-05">May 2018</time></div>
</footer>
