@import 'breakpoints';
@import 'theme';

#app-header {
  background: glenwood(blue);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  flex-shrink: 0;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sm {
      display: inline-flex;
      flex-direction: row;
    }

    .logo {
      height: 100px;
      margin: 0 0 10px 0;
      cursor: pointer;
      @include sm {
        margin: 0 10px 0 0;
      }
    }
  }

  .top-tab {
    display: none;
    position: absolute;
    right: 5%;
    top: 0;
    padding: 6px;
    background: glenwood(green);
    font-size: 1.1rem;
    border: 1px solid white;
    border-radius: 0 0 3px 3px;
    border-top: none;
    cursor: pointer;
    @include md {
      display: inline-block;
    }
    @media only screen and (min-width: 1440px) {
      right: calc(((100% - 1440px) / 2) + 5%);
    }
  }
}

#app-footer {
  background: glenwood(blue);
  color: white;
  margin-top: auto;
  padding-top: 1rem;
  flex-shrink: 0;
  padding-bottom: 1rem;
  @include sm {
    display: flex;
    justify-content: space-between;
  }

  .links {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sm {
      margin-bottom: 0;
      display: block;
    }

    a {
      display: block;
      margin-bottom: .5rem;
      font-size: 1.2rem;
      text-align: center;
      &:hover {
        text-decoration: underline;
      }
      @include sm {
        text-align: left;
      }
    }
  }

  .timestamp {
    text-align: center;
    @include sm {
      text-align: right;
    }
  }
}
