<div class="improve-game-form">
  <select class="game-selection" [(ngModel)]="selectedGame">
    <option value="">Please Select a Game</option>
    <option *ngFor="let game of games" [ngValue]="game">{{game.name}}</option>
  </select>
  <section *ngIf="selectedGame">
    <h4 class="form-section-label">How can this game be improved?</h4>
    <ul class="form-section">
      <li>Does the game have the wrong name?</li>
      <li>Is the game miscategorized (events, spaces, settings)?</li>
      <li>Is the game missing instructions or rules?</li>
      <li>Is the game's description confusing or hard to understand?</li>
      <li>Are there typos or misspellings?</li>
    </ul>
    <textarea class="user-input" [(ngModel)]="improvements" placeholder="Please write your suggestions here (required)"></textarea>
    <button class="alternate" (click)="submit()" [disabled]="!improvements">Submit Improvements</button>
  </section>
</div>
