html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  @include md {
    font-size: 12px;
  }
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: bold;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1.4rem;
  padding: 6px;
}

button, input[type="submit"], input[type="reset"] {
  padding: 6px;
  font-size: 1.2rem;
  border-radius: 3px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  background: rgba($color: #000000, $alpha: 0);
  &.alternate {
    border: none;
    background: glenwood(green);
    color: white;
  }
  &.active {
    font-weight: bold;
  }
  &[disabled] {
    cursor: not-allowed;
    color: $gray;
    border-color: $gray;
  }
}
