.form-section-label {
  margin-bottom: .5rem;
  color: glenwood(blue);
}

.form-section {
  margin-bottom: 1rem;
  padding-left: .5rem;
  input {margin-right: 1rem;}

  li {
    list-style-position: inside;
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }
}

.user-input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid glenwood(green);
  display: block;
  width: calc(100% - 12px);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

textarea {
  resize: none;
  height: 200px;
  overflow: auto;
}
